<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: If you are Arrested or Detained</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Spanish</a>
              <a class="dropdown-item" href="#">Chinese</a>
              <a class="dropdown-item" href="#">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">If you are Arrested or Detained</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">What can you do when you are Arrested or Detained?</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
          <p1>If an immigrant is arrested or detained by police or ICE they have a right to: remain silent, say no if they want to search you, and ask for a lawyer unless they’re detained by ICE where they can get a cheaper or free alternative. A police officer must read someone’s Miranda rights before beginning questioning of a suspect. However, a police officer does not need to read these rights before an arrest. If the police fail to read your Miranda rights, then any evidence obtained from the suspect prior to being advised of their rights may be inadmissible as evidence at trial. On the contrary, ICE does not need to read your Miranda rights when being detained, but that doesn’t mean these rights don’t apply to you. Unauthorized immigrants may have been told they don’t have rights, but this is false. </p1>
            <br></br>
          <p2> <a href="https://www.aclu.org/know-your-rights/immigrants-rights/">Know Your Rights: Immigrants Rights</a> </p2>
          
        </div>
        
        <a name="sub2">
            <h4 class="subheading">Entitlements when dealing with Legal Issues</h4>
          </a>
        
        <div class = "main">
        <p1> “You have the right to a lawyer, but the government will not pay for or provide that lawyer. You must hire one or find someone who will represent you for free. (Immigration should give you a list of groups you can call that may provide free or low-cost legal advice or representation.) If you see a judge before you can get legal advice, you should ask the judge for more time to find a lawyer.”
          <br></br>
          -Tell your lawyer all information about your immigration case, including if you’ve been arrested before. This ensures they can give you the best advice, lying or keeping information could end up hurting your case more.
          <br></br>
           <a href="https://www.nilc.org/get-involved/community-education-resources/know-your-rights/to_do_if_arrested_2007-08/">Know Your Rights: Legal Options </a>

        <p2>  According to the law, you can’t be held by ICE for more than a maximum of 48 hours(2 days). The law says you have to be released if they don’t take custody of you within that time.
          <br></br>
“In some instances, law enforcement officers who do not understand or who disregard the law might try to keep you in custody for longer than 48 hours. This is considered unlawful detention, and some remedies exist, including filing a petition with a federal court to challenge your detention or seeking civil damages.”
        <br></br>
      <a href="https://www.nolo.com/legal-encyclopedia/what-happens-when-undocumented-immigrant-is-caught.html">What Happens when you are Caught?</a>
        </p2>
      
      </div>
    
    <a name="sub3">
            <h4 class="subheading">Ways People are being Arrested or Detained by ICE</h4>
          </a>
    <div class ="main">
    <p1>DMV giving information or selling information about a person's status in the U.S. when they are submitting a driving license application social media and emails because ICE can use the pictures you post on Facebook or on Instagram or emails you send to your family to find you and to arrest you. </p1>
      <br> </br>
      <p2> How ICE uses your social media and emails to arrest you: https://theintercept.com/2019/12/22/ice-social-media-surveillance/. 
        <br></br>
            How ICE obtains information from the DMV: https://www.nilc.org/issues/drivers-licenses/ice-dmvs-share-information/ 
      </p2>


    </div>

    


         
        
        
            

        

        </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Quick Access</li>
              <li><a href="" style="color: inherit;">What can you do when you are Arrested or Detained?</a></li>
              <li><a href="" style="color: inherit;">Entitlements when dealing with Legal Issues</a></li>
              <li><a href="" style="color: inherit;">Ways People are being Arrested or Detained by ICE</a></li>
             
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
