<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Social Security</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Spanish</a>
              <a class="dropdown-item" href="#">Chinese</a>
              <a class="dropdown-item" href="#">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">Social Security</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <div class="main">
            <p>Social Security is needed for employment, to collect Social Security Benefits as well as other government assistance. You must be authorized to work in the U.S. in order to receive a SSN. Undocumented immigrants cannot receive a SSN. If you aren’t authorized to work in the U.S., the only way you can be eligible to receive a social security number is if you need it to apply for a government service or benefit for which you have already met all other requirements. You cannot apply for a social security number for the sole purpose of creating a driver's license.</p>

            <p>There are two ways immigrants can receive a Social Security number:
              <ul>
                <li>Apply in your home country along with your immigration visa application</li>
                <li>Apply at a Social Security office in the U.S.</li>
              </ul>
            </p>

            <p>You need to provide proof of immigration status, proof of age, and proof of identity in order to apply for a social security number. SSN is linked to your financial history; many banks require your SSN, but some institutions accept individual taxpayer identification number (ITIN), a number you can apply for <b>even if you are undocumented</b>.</p>

          </div>

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">Individual Taxpayer Identification Number (ITIN)</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
            <p>ITIN Application Process:
              <ol>
                <li>Fill out the required Form W-7.  It is available in English and Spanish.</li>
                <li>Provide proof of identity with an unexpired document that includes a photograph of you. For example you can use an unexpired passport or driver’s license.</li>
                  <ul>
                    <li>The requirements for steps 2 and 3 can be fulfilled with an unexpired foreign passport. <b>Immigrants that have their foreign passport should make sure they continue renewing it.</b></li>
                  </ul>
                <li>Complete your federal tax return.</li>
                <li>Attach your Form W-7 and proof of identity with your tax return and submit it.</li>
              </ol>
            </p>
            <p>Find more information about the ITIN application process <a href="https://immigrantfinance.com/can-immigrants-open-bank-accounts/">here</a>.
            </p>
            <p>Process for renewing ITIN: <a href="https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin">https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin</a></p>
          </div>

          <a name="sub2">
            <h4 class="subheading">Bank Accounts and Credit Cards</h4>
          </a>

          <div class="main">
            <ul>
              <li>You can apply for a bank account using your ITIN. Chase bank allows you to create an account using your ITIN.</li>
              <li>You can apply for some credit cards without a SSN. When looking at the online applications for credit cards from these companies, they will often ask for a SSN. There is no separate box or description asking for an ITIN. However, you can input your ITIN in the Social Security box.</li>
              <ul>
                <li>You can apply for all American Express personal credit cards online without an SSN if you have credit history in one of the following countries: Australia, Canada, India, Mexico and the UK. Even if you are not from one of these countries, Amex still accepts ITINs as part of their applications.</li>
                <li>Bank of America</li>
                <li>Capital One Platinum card has no annual fee and is good for people with limited credit history who are looking to build credit. Find out more <a href="https://applynow.capitalone.com/?productId=10440">here</a>.</li>
                <li>Additional resources:
                  <ul>
                    <li> <a href="https://www.novacredit.com/resources/credit-card-without-ssn/">Novacredit</a> </li>
                    <li> <a href="https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660">Investopedia</a> </li>
                  </ul>
                </li>
              </ul>
            </ul>
        </div>

        <a name="sub3">
          <h4 class="subheading">Services that do not require an SSN</h4>
        </a>

        <div class="main">

        </div>




        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Quick Access</li>
              <li><a href="" style="color: inherit;">Subheading 1</a></li>
              <li><a href="" style="color: inherit;">Subheading 2</a></li>
              <li><a href="" style="color: inherit;">Subheading 3</a></li>
              <li><a href="" style="color: inherit;">Subheading 4</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
