<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: If you are Arrested or Detained</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chinese
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/arrested.html">English</a>
              <a class="dropdown-item" href="../spanish/arrested.html">Spanish</a>
              <a class="dropdown-item" href="../bengali/arrested.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">如果您被逮捕或拘留</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">被逮捕或拘留时该怎么办？</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
          <p1>如果移民被警察或ICE逮捕或拘留时，您有权：保持沉默，问是否要搜索您时说不，并寻求律师，除非他们被ICE拘留，这样他们可以得到更便宜或免费的代表。警官在开始对嫌疑犯的讯问之前，必须先阅读他人的Miranda权利。但是，警务人员在逮捕之前无需阅读这些权利。如果警察无法读取您的Miranda权利，那么在被告知嫌疑人权利之前从嫌疑人那里获得的任何证据都可能无法作为审判证据。相反，ICE被拘留时无需阅读您的Miranda权利，但这并不意味着这些权利不适用于您。未经授权的移民可能被告知他们没有任何权利，但这是错的。</p1>
            <br></br>
          <p2> <a href="https://www.aclu.org/know-your-rights/immigrants-rights/">了解您的权利：移民权利</a> </p2>

        </div>

        <a name="sub2">
            <h4 class="subheading">处理法律问题时的权利</h4>
          </a>

        <div class = "main">
        <p1> “您有权聘请律师，但政府不会支付或提供该律师。您必须雇用一个人或找到可以免费代表您的人。 （移民应给您打电话的团体清单，这些团体可以提供免费或低成本的法律咨询或代理。）如果您在寻求法律咨询之前先拜见法官，则应请法官提供更多时间寻找律师。”
          <br></br>
          告诉您的律师有关您的移民案件的所有信息，包括您是否曾被捕过。这样可以确保他们能够为您提供最佳建议，说谎或保留信息最终可能会进一步伤害您的案件。</p1>
          <br></br>
           <a href="https://www.nilc.org/get-involved/community-education-resources/know-your-rights/to_do_if_arrested_2007-08/">知道您的权利：法律选择 </a>
        <br></br>

        <p2> 根据法律规定，ICE被拘留的时间不得超过48小时。法律规定，如果他们在这段时间内没有监护您，则必须释放您。
          <br></br>
“在某些情况下，不了解或无视法律的执法人员可能会试图将您拘留超过48小时。这被视为非法拘留，并且存在一些补救措施，包括向联邦法院提交请愿书以对您的拘留提出异议或寻求民事赔偿。”
        <br></br>
      <a href="https://www.nolo.com/legal-encyclopedia/what-happens-when-undocumented-immigrant-is-caught.html">被捕获时会发生什么？</a>
        </p2>

      </div>

    <a name="sub3">
            <h4 class="subheading">人们被ICE逮捕或拘留的方式</h4>
          </a>
    <div class ="main">
    <p1>ICE能够从DMV数据案例访问有关人员的个人信息。他们可以访问名称，地址和车牌号。然后，他们可以使用此信息来帮助他们逮捕并拘留无证移民。</p1>
      <br> </br>
      <p2> ICE如何使用您的社交媒体和电子邮件来逮捕您： <a href="https://theintercept.com/2019/12/22/ice-social-media-surveillance/"> https://theintercept.com/2019/12/22/ice-social-media-surveillance/</a>
        <br></br>
            ICE如何从DMV获取信息： <a href="https://www.nilc.org/issues/drivers-licenses/ice-dmvs-share-information/"> https://www.nilc.org/issues/drivers-licenses/ice-dmvs-share-information/</a>
      </p2>


    </div>











        </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">快速寻找</li>
              <li><a href="#sub1" style="color: inherit;">被逮捕或拘留时该怎么办？</a></li>
              <li><a href="#sub2" style="color: inherit;">处理法律问题时的权利</a></li>
              <li><a href="#sub3" style="color: inherit;">人们被ICE逮捕或拘留的方式</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
