<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Path to Citizenship</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chinese
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/citizenship.html">English</a>
              <a class="dropdown-item" href="../spanish/citizenship.html">Spanish</a>
              <a class="dropdown-item" href="../bengali/citizenship.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <!-- Heading on the citizenship page -->
          <h1 class="display-4">如何成为美国公民 </h1>

          <!-- Contents of the citizenship page -->
          <div class="main">
          成为公民的道路非常困难，因为要成为美国公民有许多要求，例如要有良好的背景，精通基本的口语和书面英语，并且要表现出对美国历史和政府的了解。 您可以在 <a href="https://www.boundless.com/immigration-resources/u-s-citizenship-requirements/">https://www.boundless.com/immigration-resources/u-s-citizenship-requirements/</a>上查看获得美国公民身份的要求。此外，这个网站还可以帮助您了解申请美国公民身份时要采取的步骤，该网站， <a href="https://www.usa.gov/become-us-citizen">https://www.usa.gov/become-us-citizen</a>，还可以为您提供可以帮助您的资源，例如学习英语或帮助您为入籍考试做准备。
          </div>

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">赞助/获得绿卡</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
            当任何一位美国公民年满21岁时，他们就有机会赞助其父母并调整其公民身份。这也意味着移民父母可以从他们的美国孩子那里获得绿卡。但是，存在边界和不同情况，主要取决于进入该国的方式。
          </div>

          <!-- Subheading -->
          <a name="sub2">
            <h4 class="subheading">合法入境签证入境</h4>
          </a>

          <div class="main">
            如果您（父母）通过工作或学校签证合法进入该国，则可以轻松调整自己的身份。这包括那些签证过期的人。即使您是10年前进入该国并且逾期签证，您仍然可以以最少的延期调整您的身份。为此，您可以提交I-130表格，《外国人的请愿书》。您必须提供您的美国公民身份证明，以及父母作为父母的证明。其中包括出生证明，结婚证明等。资助那些不是您直系亲属但仍然可以为他们提供签证的人（如果他们在国外），可以有不同的偏好。您需要为他们提供签证，如果您是美国公民的直系亲属，那么您的亲属就不必排队等候签证，您只需申请即可获得签证。
          </div>

          <a name="sub3">
            <h4 class="subheading">非法入境/非检查</h4>
          </a>

          <div class="main">
            但是，对于那些非法进入该国的人来说，情况差别很大。如果您在进入边境时没有经过边境巡逻队/海关的检查和/或采访而被抓到，那么申请身份变更将导致过程更长，更困难。申请人将必须在国外进行绿卡会议，并且被禁止再次入境，这意味着他们将必须离开该国一段时间。根据您在该国逗留的时间长短，即使您的孩子是美国公民，您也可能必须离开长达10年，才能返回并申请新签证。如果您最多居住一年，将被禁止再入境3年，但是如果超过一年，则将被禁止再入境10年，然后再次持签证进入该国。如果您非法来到这里，与此相关的困难也是，即使您设法留在该国，您的孩子仍将需要能够为您提供经济资助。对于大多数非法入境者而言，这使得这一过程变得非常困难。 但是，有许多法律资源可供需要移民的人使用，无论他们是否非法入境。这些资源很多都是免费提供的。例如，Unlocal，Inc.和NYLAG之类的组织为纽约市的移民提供免费的法律和诚实服务，无论您的移民身份如何。
          </div>

          <a name="sub4">
            <h4 class="subheading">获得公民身份</h4>
          </a>

          <div class="main">
            <p>在美国获得公民身份的过程开始成为永久居民并获得绿卡。完成后，您必须在美国居住五年，才能申请公民身份。您必须年满18岁，具有良好的道德品质，能够说，读和写基本的英语，理解美国宪法，美国历史和政府的原则，并向持有美国绿卡的人宣誓。可以申请入籍；当外国人被授予美国国籍时。重要的是要确保所有合法性都井井有条，避免造成麻烦以及可能的禁止，驱逐和/或拘留。申请表和$ 725的费用必须提交给USCIS。然后进行生物特征识别筛选，在其中拍摄申请人的指纹和照片，然后进行深入的背景检查和交叉检查。必须先清除所有检查，然后才能进行采访。面试完成后，申请人必须参加公民和英语考试。最后，申请人宣誓效忠美国，并正式成为公民。采取所有步骤以使其自然化，整个过程可能需要一年或更长时间。</p>
            <p>其他资源：
              <ul>
                <li><a href="https://www.uscis.gov/family/family-of-us-citizens">U.S. Citizenship and Immigration Services</a></li>
                <li><a href="https://www.nylag.org/">New York Legal Assistance</a></li>
                <li><a href="https://www.unlocal.org/">Unlocal</a></li>
                <li><a href="https://americasvoice.org/blog/immigration-101-why-immigrants-cant-just-get-legal/">America's Voice</a></li>
                <li><a href="https://www.rescue.org/article/how-immigrants-and-refugees-become-us-citizens#:~:text=Naturalization%20is%20the%20process%20by,and%20Immigration%20Services%20(USCIS).">Rescue.org</a></li>
              </ul>
            </p>

          </div>

          <a name="sub5">
            <h4 class="subheading">通过归化的美国国籍</h4>
          </a>

          <div class="main">
            <p> 通过入籍成为公民是一个非美国公民自愿成为美国公民的过程。美国公民应效忠美国，有权得到美国的保护，并应行使其作为公民的权利和责任。 </p>

            <p>
              要成为美国公民，您必须：
              <ul>
                <li>持有永久居民（绿卡）至少五年，如果您是美国公民的配偶，则至少要持有三年</li>
                <ul>
                  <li>在以下情况下，您必须在申请公民身份之前更新永久居民卡：</li>
                    <ul>
                      <li>您的卡将在申请后的六个月内过期</li>
                      <li>您的卡已过期</li>
                    </ul>
                </ul>
                <li>申请时至少年满18岁</li>
                <li>经历10个步骤的入籍过程，其中包括:</li>
                  <ul>
                    <li>确定您成为美国公民的资格</li>
                    <li>准备并提交表格N-400，入籍申请</li>
                    <li>参加美国入籍考试并进行个人访谈</li>
                  </ul>
              </ul>

            </p>

            <p>有关您的公民身份获取途径的更多信息，请访问：
<a href="https://www.uscis.gov/">https://www.uscis.gov/</a></p>

          </div>


        </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">快速寻找</li>
              <li><a href="#sub1" style="color: inherit;">赞助/获得绿卡</a></li>
              <li><a href="#sub2" style="color: inherit;">合法入境签证入境</a></li>
              <li><a href="#sub3" style="color: inherit;">合法入境签证入境</a></li>
              <li><a href="#sub4" style="color: inherit;">获得公民身份</a></li>
              <li><a href="#sub5" style="color: inherit;">通过归化的美国国籍</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
