<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Applying for Healthcare</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chinese
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/healthcare.html">English</a>
              <a class="dropdown-item" href="../spanish/healthcare.html">Spanish</a>
              <a class="dropdown-item" href="../bengali/healthcare.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <!-- Heading on the citizenship page -->
          <h1 class="display-4">申请医疗保健</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">有证件的移民</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
          有证件的移民具有的法律权利是无证移民最有可能没有的。根据法律，有证件的移民最终可以成为公民，也可以是非公民，但可以从美国国务院和美国国土安全部领取社会安全号码卡。由于有证件的移民是根据美国法律进行合法注册的，因此您可以在通常为11月1日至12月15日的入学期间注册健康计划。在此期间，有证件的移民和美国公民/国民均具有完全访问权限，并且有权申请自己的健康保险计划。为了注册医疗保健，您必须提供社会安全号码，但是有证件的移民很可能会有一个。当个人成为美国公民时，还有第二个入学期，称为特殊入学期，这使您有60天的时间参加健康保险计划。这两个入学时间只是移民在申请医疗保健时所享有的部分权利。还有适用于有证件的移民的《平价医疗法案》，这是一项重要的权利，可以帮助有证件的移民获得健康保险。如果有证件的移民的收入在联邦贫困收入水平的100％-400％之间，并且如果您无力支付或未从雇主那里获得健康计划，则有证件的移民有资格获得补贴，这可以帮助您要付费并获得健康保险。这与入学时间和特殊入学时间相似，因为如果您是新移民且没有资格获得医疗补助，您还将获得补贴。另一项重要的权利是，有证件的移民应利用其通过医疗补助获得的低成本或免费健康保险的权利。申请所需的必要文件包括年龄证明，公民身份/外国人身份，收入等。如果您是合格的非公民（例如有证件的移民）并且满足收入和移民等要求，则移民可以申请医疗补助。居住权。为了真正注册该计划，您可以通过健康保险市场或您所在州的医疗补助机构申请。有证件的移民完全有权注册医疗保险，如果有证件的移民遇到经济或其他问题而无法签署高级或昂贵的医疗保险，这是一种重要的注册资源。

          </div>

          <a name="sub2">
            <h4 class="subheading">无证移民</h4>
          </a>

         <div class="main">
         对于没有证件的两个人来说，医疗保健是一个突出的问题，因为您没有SSN，因此无法合法注册许多健康保险计划。如果无证移民受伤或您的家人需要医疗照顾，这将导致许多问题。您并不总是确定可以用来获得支持的资源，但是特别是对于无证移民，医疗保健通常需要社会保障和身份证明才能申请和接受医疗保健计划。但是，仍然有许多来源可以使纽约的无证移民获得医疗服务。首先，未满19岁的儿童可以申请“儿童健康增强计划”。如果没有医疗补助或任何形式的医疗保险，此服务将为19岁以下的儿童提供免费或低成本的医疗保险。尽管您必须以家庭为基础有一定的收入，但是该医疗保健计划并不取决于移民身份，因此无证件的儿童移民可以通过这种方式获得医疗保健。此外，医疗补助是低收入家庭的热门医疗保险计划，但通常需要提供社会保险号。但是，孕妇只要符合特定条件即可获得医疗补助，但怀孕可以提高收入门槛。此外，据纽约市健康与医院协会称，纽约市的大多数服务实际上都是可用的，而与移民身份无关，例如医疗保健，紧急食物和庇护所，公共安全保护和紧急援助。没有关于移民通过医疗记录将其驱逐出境的报道，也没有因为您申请健康保险而显示出无论移民身分如何如何，许多移民仍然可以获得您需要的帮助而不必担心被ICE驱逐或拘留的情况。此外，无证移民可致电311并要求该服务在纽约市承保，以查明您或家人是否真正有资格获得健康保险。纽约市健康+医院也尊重您的隐私，不会询问您的移民身份。仅在申请保险时会询问您，但是您仍然可以在不通知他们您的移民身份的情况下得到照顾。无证移民可以通过Google或使用此w找到这些纽约市健康+医院: <a href="http://www.nychealthandhospitals.org/">http://www.nychealthandhospitals.org/</a>。</p>

         <p>即使上面列出的Medicare计划仅适用于无证件的儿童和孕妇，但由于其应享权利，其他无证件移民群体仍可以通过多种方式获得医疗保健。根据《紧急医疗和劳动法》，参加Medicare计划的任何医院必须为任何进入急诊室的人提供筛查和稳定服务。这完全独立于移民身份，因此无证移民完全有权在这些医院的急诊室接受某种护理。 </p>

         <p>尽管无证移民在许多情况下均不受ACA等法律的支持并且无法申请健康保险计划，但仍具有重要的权利，只要无证移民可以利用而不必担心被驱逐出境或采取其他法律行动。对于无证移民来说，重要的是要确保您了解这些权利，因为您所获得的保险范围有限且医疗服务有限。 </p>
         </div>

          <a name="sub3">
         <h4 class="subheading">健康保险选择</h4>
          </a>

            <div class="main">
          <p>Child Health Plus (儿童健康附加计划)：所有居住在纽约的儿童均可获得儿童健康附加计划，无论其移民身份如何

            <br></br>
              Medicaid: 针对低收入纽约人和孕妇的免费或低成本健康保险，无论移民身份如何，均可获得医疗补助。如果您没有证件，则如果满足其他要求，您仍然可以享受医疗补助
          <br></br>
              Essential Plan: 针对不符合医疗补助资格的人的免费或低成本保险 </p>
          </div>

        <a name="sub4">
        <h4 class="subheading">有关医疗保健的更多信息</h4>
        </a>
        <div class= "main">
          <p>几乎一半的纽约人通过工作获得健康保险。他们中的其他人需要通过一系列的公共和私人选择来走自己的路，或者走开并保持手指交叉以免生病。仅仅因为您没有资格获得社会安全号码，并不意味着您没有资格获得健康保险。居住在纽约市的任何人，无论其移民身份如何，都有资格获得医疗服务。许多不符合联邦医疗补助资格的低收入移民纽约人都有资格获得州版本。无论移民身份如何，所有低收入纽约人都可以使用以下计划：针对孕妇和女童的纽约医疗补助，艾滋病毒药物援助计划（ADAP），其中包括针对患有HIV + / AIDS的纽约人的治疗和药物治疗，适用于19岁以下纽约儿童的Child Health Plus；以及《医院经济援助法》（HFAL）的好处，即为未投保或投保不足的纽约人提供免费或低成本的医疗服务。除了刚才提到的所有纽约计划外，还有一些联邦计划，低收入移民纽约人也可能有资格：联邦政府资助的医疗补助计划，对于持有绿卡的人至少有五年的使用期限，以及持有绿卡少于五年且未满21岁或已怀孕或两者兼有的绿卡持有人。一些不常见的移民身份也有资格。通过“纽约州市场”购买健康保险的所有绿卡持有人以及许多其他类别的合法移民，都可以通过《平价医疗法案》（称为ACA或Obamacare）获得税收抵免。不论移民身份如何，每个人都可以使用由联邦政府资助的社区卫生保健诊所。</p>
        </div>

      </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">快速寻找</li>
              <li><a href="#sub1" style="color: inherit;">有证件的移民</a></li>
              <li><a href="#sub2" style="color: inherit;">无证移民</a></li>
              <li><a href="#sub3" style="color: inherit;">健康保险选择</a></li>
              <li><a href="#sub4" style="color: inherit;">有关医疗保健的更多信息</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
