<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Social Security</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chinese
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/social.html">English</a>
              <a class="dropdown-item" href="../spanish/social.html">Spanish</a>
              <a class="dropdown-item" href="../bengali/social.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">社会保障</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <div class="main">
            <p>就业，收集社会保障福利, 以及其他政府援助都需要社会保障。您必须获得在美国工作的授权才能接收SSN。无证移民无法获得SSN。如果您无权在美国工作，则有资格获得社会保险号的唯一方法是，如果您需要它来申请政府服务或已经满足所有其他要求的福利，则可以使用。您不能仅出于创建驾照的目的而申请社会安全号码。</p>

            <p>移民可以通过两种方式获得社会安全号码：
              <ul>
                <li>与您的移民签证申请一起在您的祖国申请</li>
                <li>在美国的社会保障办公室申请</li>
              </ul>
            </p>

            <p>您需要提供移民身份证明，年龄证明和身份证明才能申请社会保险号。 SSN与您的财务记录相关；许多银行都要求您提供SSN，但有些机构会接受个人纳税人识别号（ITIN），<b>即使您没有证件，也可以申请该号码</b>。</p>

          </div>

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">个人纳税人识别号（ITIN）</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
            <p>ITIN申请流程：
              <ol>
                <li>填写所需的W-7表。提供英语和西班牙语版本。</li>
                <li>使用未过期的文件（包括您的照片）提供身份证明。例如，您可以使用未过期的护照或驾照。</li>
                  <ul>
                    <li>未过期的外国护照可以满足第2步和第3步的要求。 <b>持有外国护照的移民应确保他们继续续签。</b></li>
                  </ul>
                <li>完成您的联邦纳税申报表。</li>
                <li>将您的W-7表格和身份证明与税单附在一起，然后提交。</li>
              </ol>
            </p>
            <p>在此处找到有关ITIN申请流程的更多信息： <a href="https://immigrantfinance.com/can-immigrants-open-bank-accounts/">"https://immigrantfinance.com/can-immigrants-open-bank-accounts/"</a>。
            </p>
            <p>更新ITIN的过程： <a href="https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin">https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin</a></p>
          </div>

          <a name="sub2">
            <h4 class="subheading">银行账户和信用卡</h4>
          </a>

          <div class="main">
            <ul>
              <li>您可以使用您的ITIN申请银行帐户。大通银行允许您使用您的ITIN创建一个帐户。</li>
              <li>您可以不使用SSN来申请某些信用卡。在查看这些公司提供的信用卡在线申请时，他们通常会要求提供SSN。没有单独的框或说明要求输入ITIN。但是，您可以在“社会保险”框中输入您的ITIN。</li>
              <ul>
                <li>如果您在以下国家之一具有信用记录，则可以在没有SSN的情况下在线申请所有美国运通个人信用卡：澳大利亚，加拿大，印度，墨西哥和英国。即使您不是来自这些国家之一，Amex仍然接受ITIN作为其申请的一部分。</li>
                <li>美国银行</li>
                <li>Capital One白金卡无需年费，非常适合那些信用记录有限，希望建立信用的人。<a href="https://applynow.capitalone.com/?productId=10440">在这里</a>找到更多。</li>
                <li>其他资源：
                  <ul>
                    <li> <a href="https://www.novacredit.com/resources/credit-card-without-ssn/">Novacredit</a> </li>
                    <li> <a href="https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660">Investopedia</a> </li>
                  </ul>
                </li>
              </ul>
            </ul>
          </div>

          <a name="sub3">
            <h4 class="subheading">不需要SSN的服务</h4>
          </a>

          <div class="main">
            <p>
            <ul>
              <li>您不需要SSN即可申请补贴住房。</li>
              <li>您不需要SSN即可注册学校和学校午餐。</li>
              <li>您不需要SSN即可注册参加SAT等学术考试。</li>
              <li>您不需要SSN即可获得私人健康保险（例如，纽约州健康市场为没有社会保障号的人提供健康保险）。</li>
              <li>在纽约州，不需要SSN即可申请驾驶执照或学习许可。</li>
            </ul>
            </p>
            <p>想了解更多信息吗？请访问 <a href="www.socialsecurity.gov">www.socialsecurity.gov</a> </p>
          </div>

        </div>


        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">快速寻找</li>
              <li><a href="#sub1" style="color: inherit;">个人纳税人识别号（ITIN）</a></li>
              <li><a href="#sub2" style="color: inherit;">银行账户和信用卡</a></li>
              <li><a href="#sub3" style="color: inherit;">不需要SSN的服务</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
