<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Social Security</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bengali
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/social.html">English</a>
              <a class="dropdown-item" href="../spanish/social.html">Spanish</a>
              <a class="dropdown-item" href="../chinese/social.html">Chinese</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">সামাজিক সুরক্ষা নম্বর</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <div class="main">
            <p>
              সামাজিক সুরক্ষা সুবিধাগুলি সংগ্রহের পাশাপাশি অন্যান্য সরকারী সহায়তার জন্য কর্মসংস্থানের জন্য সামাজিক সুরক্ষা প্রয়োজন।
            </p>
            <ul>
              <li>এসএসএন পাওয়ার জন্য আপনাকে অবশ্যই মার্কিন যুক্তরাষ্ট্রে কাজ করার জন্য অনুমোদিত হতে হবে: অনিবন্ধিত অভিবাসীরা এসএসএন গ্রহণ করতে পারবেন না।</li>
              <ul>
                <li>আপনি যদি মার্কিন যুক্তরাষ্ট্রে কাজ করার অনুমতিপ্রাপ্ত না হন তবে সামাজিক সুরক্ষা নম্বর পাওয়ার যোগ্য হতে পারবেন এমন একমাত্র উপায় যদি আপনার কোনও সরকারী চাকরীর জন্য আবেদন করার প্রয়োজন হয় বা সুবিধা যার জন্য আপনি ইতিমধ্যে অন্যান্য সমস্ত প্রয়োজনীয়তা পূরণ করেছেন।</li>
                <li>ড্রাইভারের লাইসেন্স তৈরির একমাত্র উদ্দেশ্যে আপনি সামাজিক সুরক্ষা নম্বরের জন্য আবেদন করতে পারবেন না।</li>
              </ul>
              <li>অভিবাসীরা সামাজিক সুরক্ষা নম্বর পেতে পারে এমন দুটি উপায় রয়েছে:</li>
                <ul>
                  <li>আপনার ইমিগ্রেশন ভিসা আবেদনের সাথে আপনার নিজের দেশে আবেদন করুন।</li>
                  <li>মার্কিন যুক্তরাষ্ট্রের একটি সামাজিক সুরক্ষা অফিসে আবেদন করুন।</li>
                </ul>
              <li>সামাজিক সুরক্ষা নম্বরের জন্য আবেদন করার জন্য আপনাকে অভিবাসন স্থিতির প্রমাণ, বয়সের প্রমাণ এবং পরিচয়ের প্রমাণ সরবরাহ করতে হবে।</li>
              <li>এসএসএন আপনার আর্থিক ইতিহাসের সাথে যুক্ত; অনেকগুলি ব্যাঙ্ককে আপনার এসএসএন প্রয়োজন, তবে কিছু প্রতিষ্ঠান <b>স্বতন্ত্র করদাতা সনাক্তকরণ নম্বর (আইটিআইএন) গ্রহণ করে, এমন একটি নম্বর আপনি আবেদন করতে পারবেন এমনকি যদি আপনি বিনা শংসাপত্রিত হন।</b></li>
              <ul>
                <li>আমরা গবেষণা করছি যে কোন আর্থিক সংস্থাগুলিকে এসএসএন প্রয়োজন এবং কোনটি এসএসএনের প্রয়োজন নেই। আপনার যদি কোনও এসএসএন না থাকে বা না থাকে তবে কীভাবে কোনও ব্যাংক অ্যাকাউন্টের জন্য আবেদন করতে হয় সে সম্পর্কে আমাদের ওয়েবসাইটের নির্দেশাবলী অন্তর্ভুক্ত করতে আমরা এই তথ্যটি ব্যবহার করতে পারি।</li>
                <li>আইটিআইএন আবেদন প্রক্রিয়া:</li>
                <ol>
                  <li>প্রয়োজনীয় ফর্মটি ডাব্লু-৭ পূরণ করুন। এটি ইংরেজি এবং স্প্যানিশ ভাষায় উপলব্ধ।</li>
                  <li>যে কোনও দস্তাবেজটির মেয়াদোত্তীর্ণ নয় যা আপনার একটি ছবি সহ অন্তর্ভুক্ত রয়েছে তার সাথে পরিচয়ের প্রমাণ সরবরাহ করুন। উদাহরণস্বরূপ আপনি এমন পাসপোর্ট ব্যবহার করতে পারেন যা মেয়াদোত্তীর্ণ নয় বা ড্রাইভার লাইসেন্স নয়।</li>
                  <li>বিদেশের সাথে আপনার সংযোগের প্রমাণ সরবরাহ করুন এমন একটি দস্তাবেজ যা এখনও শেষ হয়নি not আইটিআইএন নম্বরের পুরো উদ্দেশ্য হ'ল বিদেশী নাগরিক বা অন্যান্য দেশের লোকদের মার্কিন যুক্তরাষ্ট্রে কর দিতে সক্ষম হওয়া, যাতে করে আপনি কোন দেশের সাথে যুক্ত তা আপনাকে দেখাতে হবে।</li>
                  <ul>
                    <li>২ এবং ৩ এর প্রয়োজনীয়তা অপরিবর্তিত বিদেশী পাসপোর্টের মাধ্যমে পূরণ করা যেতে পারে (অভিবাসীদের কাছে তাদের বিদেশী পাসপোর্ট রয়েছে যাতে তারা এটি পুনর্নবীকরণ অব্যাহত রাখেন তা নিশ্চিত করার জন্য একটি নোট তৈরি করুন)।</li>
                  </ul>
                  <li>আপনার ফেডারাল ট্যাক্স রিটার্ন সম্পূর্ণ করুন।</li>
                  <li>আপনার ট্যাক্স রিটার্নের সাথে আপনার ফর্ম ডাব্লু -7 এবং পরিচয়ের প্রমাণ সংযুক্ত করুন এবং এটি জমা দিন।</li>
                </ol>
              <li>আইটিআইএন প্রক্রিয়াটি পুনর্নবীকরণ: <a href="https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin">https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin</a></li>
              <li>আপনি কোনও এসএসএন ছাড়াই কিছু ক্রেডিট কার্ডের জন্য আবেদন করতে পারেন।</li>
              <ul>
                <li>আমেরিকান এক্সপ্রেস কার্ড</li>
                <ul>
                  <li> <a href="https://www.novacredit.com/resources/credit-card-without-ssn/">https://www.novacredit.com/resources/credit-card-without-ssn/</a> </li>
                  <li>নিম্নলিখিত কোনও একটি দেশে আপনার ক্রেডিট ইতিহাস থাকলে আপনি এসএসএন ছাড়াই অনলাইনে সমস্ত আমেরিকান এক্সপ্রেস ব্যক্তিগত ক্রেডিট কার্ডের জন্য আবেদন করতে পারেন: অস্ট্রেলিয়া, কানাডা, ভারত, মেক্সিকো এবং যুক্তরাজ্য। এমনকি আপনি যদি এই দেশগুলির একটির নাও হন, এমেক্স এখনও তাদের প্রয়োগের অংশ হিসাবে আইটিআইএন গ্রহণ করে।</li>
                </ul>
                <li>ব্যাংক অব আমেরিকা</li>
                <li>কেপিটল ওয়ান</li>
                <ul>
                  <li>কেপিটল ওয়ান প্লাটিনাম কার্ড: <a href="https://applynow.capitalone.com/?productId=10440">https://applynow.capitalone.com/?productId=10440</a> কোন বার্ষিক ফি নেই। এটি সীমাবদ্ধ ক্রেডিট ইতিহাসের লোকদের পক্ষে ভাল যারা ক্রেডিট তৈরি করতে চাইছেন।</li>
                </ul>
                <li>এই সংস্থাগুলির কাছ থেকে ক্রেডিট কার্ডের জন্য অনলাইন অ্যাপ্লিকেশনগুলির দিকে তাকানোর সময়, তারা প্রায়শই এসএসএন চাইবে। আইটিআইএন চেয়ে আলাদা আলাদা বাক্স বা বিবরণ নেই। তবে আপনি সামাজিক সুরক্ষা বাক্সে আপনার আইটিআইএন ইনপুট করতে পারেন।</li>
                <li> <a href="https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660">https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660</a> </li>
              </ul>
            </ul>
            <li>ভর্তুকিযুক্ত আবাসনের জন্য আবেদন করার জন্য আপনার কোনও এসএসএন দরকার নেই।</li>
            <li>স্কুল এবং স্কুল মধ্যাহ্নভোজে রেজিস্ট্রেশন করার জন্য আপনার কোনও এসএসএন দরকার নেই।</li>
            <li>স্যাট এর মতো একাডেমিক পরীক্ষার জন্য নিবন্ধকরণের জন্য আপনার কোনও এসএসএন দরকার নেই।</li>
            <li>ব্যক্তিগত স্বাস্থ্য বীমা পাওয়ার জন্য আপনার কোনও এসএসএন দরকার নেই।</li>
            <li>নিউইয়র্ক স্টেটে, ড্রাইভার লাইসেন্স বা লার্নারের পারমিটের জন্য আবেদন করার জন্য আপনার কোনও এসএসএনের প্রয়োজন নেই।</li>
          </ul>

          </div>


        </div>


        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <!-- Not included on this page
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Quick Access</li>
              <li><a href="#sub1" style="color: inherit;">Individual Taxpayer Identification Number (ITIN)</a></li>
              <li><a href="#sub2" style="color: inherit;">Bank Accounts and Credit Cards</a></li>
              <li><a href="#sub3" style="color: inherit;">Services That do not Require a SSN</a></li>
            </ul>
          </div>
          -->

        </div>
      </div>
    </div>

  </body>

</html>
