<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: If you are Arrested or Detained</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Spanish
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/arrested.html">English</a>
              <a class="dropdown-item" href="../chinese/arrested.html">Chinese</a>
              <a class="dropdown-item" href="../bengali/arrested.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">Arrestado o Detenido</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">Arrestado o Detenido</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
          <p1>   Si un inmigrante está detenido o arrestado por la policía o immigracion tiene el derecho a : mantener silencio, decir no si ellos quiere conducir un búsqueda, pide por un abogado a menos que estén detenidos por “la migra” en cual ellos puede dar un abogado más barato o un alternativo gratis. Un oficial del policía debe leer los derechos a un personas antes de conducir un interrogatorio. Los derechos se llaman Miranda rights.Sin embargo la policía no tiene que leer sus derechos antes de detener a alguien. Si la policía falló en leer sus derechos, alguna evidencia que tiene en contra usted puede ser inadmisible en en la corte de la ley. Al contrario, la migra no necesita leer sus derechos cuando se detiene, pero eso no significa que esos derechos no se aplican a usted. Migrantes sin papeles seguramente han decido que no tienen derechos, pero eso es falso. </p1>
            <br></br>
          <p2> <a href="https://www.aclu.org/know-your-rights/immigrants-rights/">Know Your Rights: Immigrants Rights</a> </p2>

        </div>

        <a name="sub2">
            <h4 class="subheading">Asuntos Legales</h4>
          </a>

        <div class = "main">
        <p1> “Tiene el derecho a un abogado, pero el gobierno no va a pagar o no va a proveer un abogado. Debe contratar a alguien que puede representarse o tener alguien que puede hacer lo gratis dependiendo su estatus financiero. (Immigration debe darte una lista de programas o grupos donde puede contactar por ayuda legal o representación.) Si ve a un juez antes de tener consejos legales debe decir al juez que necesita más tiempo para buscar un abogado.”


          <br></br>
          Cuentan a su abogado toda la información sobre su caso, incluyendo si estuvo arrestado antes. Eso asegura que su abogado puede darte consejos legales que puede ser muy útil. Mentir o guardar información puede dañar su caso. Debería tener confianza en su abogado.  </p>
          <br></br>
           <a href="https://www.nilc.org/get-involved/community-education-resources/know-your-rights/to_do_if_arrested_2007-08/">Know Your Rights: Legal Options </a>
        <br></br>

        <p2> Según la ley, no puede ser agarrado por la migra más de 48 horas (2 días). La ley dice que tiene que ser liberado, si ellos no toman custodia de usted durante ese tiempo.
          <br></br>
“En algún caso, los agente del orden público quien no entiende o quien ignorarán la ley van a tratar de dejarte en custodia por más de 48 horas. Esto es considera  un castigo ilegal, y algunos remedios que existen es llenar una petición con el corte federal para desafiar su detención y exigir daños civiles.”
        <br></br>
      <a href="https://www.nolo.com/legal-encyclopedia/what-happens-when-undocumented-immigrant-is-caught.html">What Happens when you are Caught?</a>
        </p2>

      </div>

    <a name="sub3">
            <h4 class="subheading">
Maneras gente está siendo arrestado o detenido por la migra </h4>
          </a>
    <div class ="main">
    <p1>El DMV está dando información y vendiendo información sobre el estatus de una personas en los Estados Unidos cuando ellos entregan su aplicación de licencia. Las redes sociales y los correos electrónicos porque la migra puede usar sus fotos o vídeos de usted, su familia, o amigos para encontrarte. </p1>
      <br> </br>
      <p2> Como la migra puede usar su redes sociales y correos electrónicos para arrestar usted: <a href="https://theintercept.com/2019/12/22/ice-social-media-surveillance/"> https://theintercept.com/2019/12/22/ice-social-media-surveillance/</a>
        <br></br>

Como la migra obtiene información del el DMV: <a href="https://www.nilc.org/issues/drivers-licenses/ice-dmvs-share-information/"> https://www.nilc.org/issues/drivers-licenses/ice-dmvs-share-information/</a>
      </p2>


    </div>











        </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Acceso Rapido</li>
              <li><a href="#sub1" style="color: inherit;">Arrestado o Detenido</a></li>
              <li><a href="#sub2" style="color: inherit;">Asuntos Legales</a></li>
              <li><a href="#sub3" style="color: inherit;">Maneras gente está siendo arrestado o detenido por la migra</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
