<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Financial Support</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../../index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="social.html">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Spanish</a>
              <a class="dropdown-item" href="#">Chinese</a>
              <a class="dropdown-item" href="#">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">Financial Support</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <!-- Subheading -->
          <a name="sub1">
            <h4 class="subheading">Tipos de Apoyo Financiero</h4>
          </a>

          <!-- Related contents -->
          <div class="main">
           <p1>Programas de vivienda: Los programas de vivienda ofrecen apoyo financiero y proporciona seguro a bajo costo, Vivienda para los necesitados
           <br></br>

           Asistencia para la renta y la vivienda: Ofrece apoyo a los que necesitan ayuda con el alquiler y permite a los que necesitan ayuda con el alquiler y la vivienda permanecer en un entorno seguro 
 </p1>
            <br> </br>
            
           <p2><a href="https://www.needhelppayingbills.com/html/get_help_paying_rent.html">Need Help Paying Bills</a> </p2>
          <br></br>
           <p3><a href="https://www.needhelppayingbills.com/html/transitional_housing_programs.html">Need Help Paying Bills: Transitional Housing Programs</a> </p3>
        <br></br>
        <p4><a href="https://www.needhelppayingbills.com/html/free_motel_and_hotel_vouchers.html">Need Help Paying Bills: Free Motel and Hotel Vouchers</a> </p4>
      </div>
      
       <a name="sub2">
            <h4 class="subheading">Alimentos, comidas y prevención del hambre gratuitos o de bajo costo</h4>
          </a>
      
      <div class="main">
      <p1>  Ofrece asistencia para proporcionar alimentos de bajo costo o comidas gratuitas a los que necesitan ayuda <p2> 
        <br></br>
        <p1> <a href="https://www.needhelppayingbills.com/html/snap_food_stamps.html">SNAP Food Stamps</a> </p1>
        <br></br>
        <p2> <a href="https://www.needhelppayingbills.com/html/apply_for_wic.html">Applying for WIC</a> </p2>
        
      </div>
      
       <a name="sub3">
            <h4 class="subheading">Programas de asistencia financiera</h4>
      </a>
       
    <div class="main">
     

      <p1> <a href="https://www.needhelppayingbills.com/html/dental_clinics.html">Dental Clinics</a> </p1>
      <br></br>
      <p1> <a href="https://www.needhelppayingbills.com/html/free_clinic.html">Free Clinics</a> </p1>
     </div>
    
    <a name="sub4">
            <h4 class="subheading">Additional Financial Resources and Guides</h4>
      </a>
      
  <div class="main">
      <p1> Un cheque o subvención semanal que se da en base a elegibilidad 

 </p1>
      <br></br>
  <p2> <a href="https://www.needhelppayingbills.com/html/church_assistance_.html">Church Assistance</p2>
      
     </div>
    
      
      
      
         
             
          
        
      
      


        

        </div>

        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Quick Access</li>
              <li><a href="" style="color: inherit;">Programas de vivienda</a></li>
              <li><a href="" style="color: inherit;">Alimentos, comidas y prevención del hambre gratuitos o de bajo costo</a></li>
              <li><a href="" style="color: inherit;">Recursos disponible</a></li>
              <li><a href="" style="color: inherit;">Programas de asistencia financiera y guias</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </body>

</html>
