<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Know Your Entitlements: Social Security</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../../static/style.css" type="text/css" media="all">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5398BE;">
    <!-- Color suggestion for theme: #DEA54B, #F2CD5D -->
    <!-- Link to color pallete: https://coolors.co/394053-5398be-f2cd5d-dea54b -->
      <a class="navbar-brand">Know Your Entitlements</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="citizenship.html">Path to Citizenship</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="healthcare.html">Applying for Healthcare</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="financial.html">Financial Support</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="arrested.html">If you are Arrested or Detained</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">Social Security</a>
          </li>

      </div>

      <div class="collapse navbar-collapse flex-row-reverse">
        <ul class="navbar-nav ml-auto">
          <span class="navbar-text">
            Language:
          </span>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="lang" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Spanish
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../english/social.html">English</a>
              <a class="dropdown-item" href="../chinese/social.html">Chinese</a>
              <a class="dropdown-item" href="../bengali/social.html">Bengali</a>
            </div>
          </li>
        </ul>
      </div>

    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm">

          <h1 class="display-4">Número de seguridad social</h1>

          <!-- START EDITTING HERE MASRUR -->
          <!-- also can you format the subheadings like the example below (name them "sub1", "sub2", "sub3", etc.) and put all the text under each subheading in a div with class="main" -->

          <div class="main">
            <p>
              El Seguro Social es necesario para el empleo, para cobrar los Beneficios del Seguro Social y otras ayudas gubernamentales.
            </p>
            <ul>
              <li>Debe estar autorizado para trabajar en los EE. UU. Para recibir un SSN: los inmigrantes indocumentados no pueden recibir un SSN</li>
              <ul>
                <li>Si no está autorizado para trabajar en los EE. UU., La única forma en que puede ser elegible para recibir un número de seguro social es si lo necesita para solicitar un servicio o beneficio del gobierno para el cual ya ha cumplido con todos los demás requisitos.</li>
                <li>No puede solicitar un número de seguro social con el único propósito de crear una licencia de conducir.</li>
              </ul>
              <li>Dos formas en que los inmigrantes pueden recibir un número de seguro social.</li>
                <ul>
                  <li>Solicite en su país de origen junto con su solicitud de visa de inmigración.</li>
                  <li>Solicite en una oficina del Seguro Social en los EE. UU.</li>
                </ul>
              <li>Debe proporcionar prueba de su estado migratorio, prueba de edad y prueba de identidad para solicitar un número de seguro social.</li>
              <li>El SSN está vinculado a su historial financiero; muchos bancos requieren su SSN, pero algunas instituciones aceptan <b>el número de identificación individual del contribuyente (ITIN), un número que puede solicitar incluso si es indocumentado.</b></li>
              <ul>
                <li>Estamos investigando qué instituciones financieras requieren un número de seguro social y cuáles no, así que podemos incluir instrucciones en nuestro sitio web sobre cómo solicitar una cuenta bancaria si tiene o no un número de seguro social.</li>
                <li>Proceso de solicitud de ITIN:</li>
                <ol>
                  <li>Llene el formulario W-7 requerido. Está disponible en inglés y español.</li>
                  <li>Proporcione prueba de identidad con un documento que incluya una fotografía suya. Por ejemplo, puede utilizar un pasaporte o una licencia de conducir. Asegúrese de que los documentos no estén vencidos.</li>
                  <li>Proporcione prueba de su conexión con un país extranjero con un documento vigente. El propósito de un número ITIN es permitir que los ciudadanos extranjeros o personas de otros países puedan pagar impuestos en los EE. UU. Por lo tanto, para hacerlo, debe mostrar con qué país está asociado.</li>
                  <ul>
                    <li>Los requisitos para 2 y 3 se pueden cumplir con un pasaporte extranjero vigente (anote para los inmigrantes que tengan su pasaporte extranjero para asegurarse de que continúan renovándose)</li>
                  </ul>
                  <li>Complete su declaración de impuestos federales.</li>
                  <li>Adjunte su formulario W-7 y prueba de identidad con su declaración de impuestos y envíelo.</li>
                </ol>
              <li>Renovación del proceso ITIN: <a href="https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin">https://www.irs.gov/credits-deductions/individuals/how-do-i-renew-my-itin</a></li>
              <li>Puedes solicitar algunas tarjetas de crédito sin un número de seguro social.</li>
              <ul>
                <li>Tarjeta American Express.</li>
                <ul>
                  <li> <a href="https://www.novacredit.com/resources/credit-card-without-ssn/">https://www.novacredit.com/resources/credit-card-without-ssn/</a> </li>
                  <li>Puede solicitar todas las tarjetas de crédito personales American Express en línea sin un SSN si tiene historial crediticio en uno de los siguientes países: Australia, Canadá, India, México y el Reino Unido. Incluso si no es de uno de estos países, Amex aún acepta los ITIN como parte de sus solicitudes.</li>
                </ul>
                <li>Banco de America</li>
                <li>Capital One</li>
                <ul>
                  <li>Tarjeta Capital One Platinum: <a href="https://applynow.capitalone.com/?productId=10440">https://applynow.capitalone.com/?productId=10440</a> Sin cuota anual. Bueno para personas con historial crediticio limitado que buscan crear crédito.</li>
                </ul>
                <li>Al mirar las solicitudes en línea de tarjetas de crédito de estas empresas, a menudo le pedirán un número de seguro social. No hay un recuadro o descripción separada que solicite un ITIN. Sin embargo, puede ingresar su ITIN en la casilla del Seguro Social.</li>
                <li> <a href="https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660">https://www.investopedia.com/applying-for-a-credit-card-without-a-social-security-number-4684660</a> </li>
              </ul>
            </ul>
            <li>No necesita un número de seguro social para solicitar una vivienda subsidiada.</li>
            <li>No necesita un número de seguro social para registrarse para la escuela y el almuerzo escolar.</li>
            <li>No necesita un número de seguro social para inscribirse en exámenes académicos, como el SAT.</li>
            <li>No necesita un número de seguro social para obtener un seguro médico privado.</li>
            <li>En el estado de Nueva York, no se necesita un número de seguro social para solicitar una licencia de conducir o un permiso de aprendizaje.</li>
          </ul>

          </div>


        </div>


        <div class="col-sm">

          <!-- Tab with links for jumping to subsections -->
          <!-- Not included on this page
          <div class="tab">
            <ul style="list-style-type: none;">
              <li style="font-size: 20px;">Quick Access</li>
              <li><a href="#sub1" style="color: inherit;">Individual Taxpayer Identification Number (ITIN)</a></li>
              <li><a href="#sub2" style="color: inherit;">Bank Accounts and Credit Cards</a></li>
              <li><a href="#sub3" style="color: inherit;">Services That do not Require a SSN</a></li>
            </ul>
          </div>
          -->

        </div>
      </div>
    </div>

  </body>

</html>
